Elevenlabs+Google-Calender-Appointment/Appointment_scheduler (3).json
{
  "name": "Appointment_scheduler",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=The current date and time is {{$now}}.\n\n## Task\nConvert the provided time expression (e.g., “Tuesday 10 AM”) into an ISO 8601 timestamp with timezone offset (+05:00).\n\n### Rules:\n- Always use the *nearest future date* relative to {{$now}}.\n- Never return a date before {{$now}}.\n- Use the *current year and month* from {{$now}}.\n- Timezone must be Pakistan Standard Time (+05:00).\n- Output must follow this exact format: YYYY-MM-DDTHH:MM:SS+05:00.\n- If a specific day (like “Monday”) has already passed this week, return the *next* occurrence of that day.\n\nThe time you need to convert: {{ $json.body.preferedTime }}\n\n## Output\nReturn JSON only, no explanation:\n{\n  \"start\": \"YYYY-MM-DDTHH:MM:SS+05:00\",\n  \"end\": \"YYYY-MM-DDTHH:MM:SS+05:00\"\n}\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        560,
        144
      ],
      "id": "37011594-8525-43e5-b968-f114cb647543",
      "name": "Check-for-desired-day"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "17c18eb4-f4e2-4469-8dfa-e43659ab4b1c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        656
      ],
      "id": "aff514c7-8296-421b-9a9d-060c82c4eaa7",
      "name": "Webhook",
      "webhookId": "17c18eb4-f4e2-4469-8dfa-e43659ab4b1c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.toolCallName }}",
                    "rightValue": "=checkAvailibility",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3ec9108c-800f-4180-83d5-c6ba8c0088a4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "278f8903-7a04-4c9e-8cb3-e6af0e878b5e",
                    "leftValue": "={{ $json.query.toolCallName }}",
                    "rightValue": "bookAppointment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        160,
        672
      ],
      "id": "4069eeb5-dfd7-4516-9f5f-ca037322a768",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9f6ae51-350d-4445-a779-fa9ba1c3d7de",
              "leftValue": "={{ $json.body.preferedTime }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        576
      ],
      "id": "739696df-8d0d-49a7-ac64-3b1ab40090df",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        320
      ],
      "id": "8cc809a4-7037-4505-bb7b-465c0558e4bb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "C0pkNl0qmlOg1pLF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"start\": \"YYYY-MM-DDTHH:MM:SS+05:00\",\n  \"end\": \"YYYY-MM-DDTHH:MM:SS+05:00\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        704,
        384
      ],
      "id": "3d83e9f0-181c-47e8-b98d-be8b85aefe63",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The current date is {{$now}}\n\n## Task\n- Output two ISO timestamps in the format: YYYY-MM-DDTHH:MM:SS+05:00\n- The first timestamp should represent **tomorrow at 9:00 AM**.\n- The second timestamp should represent **the same time one week from tomorrow at 5:00 PM**.\n- Use Pakistan Standard Time (+05:00).\n- Use the current year and month from {{$now}}.\n- Do not use 2024 or 2025 unless it matches {{$now}}.\n\n## Output\nReturn only the JSON without explanation:\n{\n  \"start\": \"YYYY-MM-DDT09:00:00+05:00\",\n  \"end\": \"YYYY-MM-DDT17:00:00+05:00\"\n}\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        560,
        656
      ],
      "id": "e255b45f-eb5e-4bb6-b330-bfb6660f7576",
      "name": "Check for upcoming week1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        880
      ],
      "id": "67632375-089b-4080-841d-d11d8687aa67",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "C0pkNl0qmlOg1pLF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"start\": \"YYYY-MM-DDT09:00:00+05:00\",\n  \"end\": \"YYYY-MM-DDT17:00:00+05:00\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        688,
        880
      ],
      "id": "bdc17e00-ec5d-4a64-8860-36064e2b1bcf",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        448
      ],
      "id": "a2a1ae33-99b1-466c-bb22-766aa691e91b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "mishaq.octans@gmail.com",
          "mode": "list",
          "cachedResultName": "mishaq.octans@gmail.com"
        },
        "timeMin": "={{ $json.output.start }}",
        "timeMax": "={{ $json.output.end }}",
        "options": {
          "outputFormat": "bookedSlots"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1136,
        448
      ],
      "id": "de209c95-d356-400d-a892-9d2e7b5f3444",
      "name": "Get availability in a calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6ssC697ciytKKhTf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1360,
        448
      ],
      "id": "ac478d27-9ff3-493a-90ab-ab739b1b3976",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2e4eca91-1488-4f9a-acb4-a9b346b46c5e",
              "leftValue": "={{ $json.data[0]}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1584,
        448
      ],
      "id": "0b075a20-b893-43cf-b764-88d9480a0cf9",
      "name": "If free"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n    \"result\":\"The desired date is free\"\n\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1808,
        352
      ],
      "id": "a3e0c652-9e38-472d-9ba7-1a17b5432d69",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "function findFreeOneHourSlots(bookedSlots, workingHoursStart = '09:00', workingHoursEnd = '17:00') {\n  \n  // Fixed timezone\n  const timezone = '+05:00';\n  \n  // Parse timezone string to get hours and minutes\n  function parseTimezone(tz) {\n    // timezone format: \"+01:00\" or \"-05:30\"\n    const sign = tz[0] === '+' ? 1 : -1;\n    const hours = parseInt(tz.slice(1, 3));\n    const minutes = parseInt(tz.slice(4, 6));\n    return { sign, hours, minutes };\n  }\n\n  // Convert time string (e.g., \"09:00\") to Date object\n  function parseTime(timeStr, baseISOString) {\n    const parts = timeStr.split(':');\n    const hours = parseInt(parts[0]);\n    const minutes = parseInt(parts[1]);\n    \n    // Get the date part from the ISO string\n    const datePart = baseISOString.split('T')[0];\n    \n    // Build ISO string with the desired time and fixed timezone\n    const isoString = `${datePart}T${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:00${timezone}`;\n    \n    return new Date(isoString);\n  }\n\n  // Convert Date object back to ISO string with timezone\n  function toISO(date) {\n    const tz = parseTimezone(timezone);\n    const offsetMs = (tz.hours * 60 + tz.minutes) * 60 * 1000 * tz.sign;\n    const adjustedDate = new Date(date.getTime() + offsetMs);\n    \n    const year = adjustedDate.getUTCFullYear();\n    const month = String(adjustedDate.getUTCMonth() + 1).padStart(2, '0');\n    const day = String(adjustedDate.getUTCDate()).padStart(2, '0');\n    const hour = String(adjustedDate.getUTCHours()).padStart(2, '0');\n    const minute = String(adjustedDate.getUTCMinutes()).padStart(2, '0');\n    const second = String(adjustedDate.getUTCSeconds()).padStart(2, '0');\n    \n    return `${year}-${month}-${day}T${hour}:${minute}:${second}${timezone}`;\n  }\n\n  // Get reference date from first booking or use current date\n  const referenceDate = bookedSlots.length > 0 ? bookedSlots[0].start : new Date().toISOString();\n\n  // Parse working hours (e.g., 09:00 - 17:00)\n  const workStart = parseTime(workingHoursStart, referenceDate);\n  const workEnd = parseTime(workingHoursEnd, referenceDate);\n\n  // Sort booked slots by start time\n  const booked = bookedSlots\n    .map(slot => ({ start: new Date(slot.start), end: new Date(slot.end) }))\n    .sort((a, b) => a.start - b.start);\n\n  // Merge overlapping bookings\n  const merged = [];\n  for (const slot of booked) {\n    if (merged.length === 0 || merged[merged.length - 1].end < slot.start) {\n      merged.push({ start: new Date(slot.start), end: new Date(slot.end) });\n    } else {\n      merged[merged.length - 1].end = new Date(Math.max(merged[merged.length - 1].end, slot.end));\n    }\n  }\n\n  // Find free time intervals\n  const freeIntervals = [];\n  let currentTime = new Date(workStart);\n\n  for (const slot of merged) {\n    if (currentTime < slot.start) {\n      freeIntervals.push({ start: new Date(currentTime), end: new Date(slot.start) });\n    }\n    currentTime = new Date(Math.max(currentTime, slot.end));\n  }\n\n  if (currentTime < workEnd) {\n    freeIntervals.push({ start: new Date(currentTime), end: new Date(workEnd) });\n  }\n\n  // Split free intervals into 1-hour slots\n  const oneHourSlots = [];\n  const oneHour = 60 * 60 * 1000;\n\n  for (const interval of freeIntervals) {\n    if (interval.end - interval.start >= oneHour) {\n      let slotStart = new Date(interval.start);\n      \n      // Ensure slot END is within working hours (must end at or before workEnd)\n      while (slotStart.getTime() + oneHour <= interval.end.getTime() && \n             slotStart.getTime() + oneHour <= workEnd.getTime()) {\n        const slotEnd = new Date(slotStart.getTime() + oneHour);\n        oneHourSlots.push({\n          start: toISO(slotStart),\n          end: toISO(slotEnd)\n        });\n        slotStart = new Date(slotEnd);\n      }\n    }\n  }\n\n  return oneHourSlots;\n}\n\nconst result = findFreeOneHourSlots($input.first().json.data);\n\nreturn {result}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        544
      ],
      "id": "6bab5917-b446-4fe7-90a5-d9d56a1f80ed",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2032,
        544
      ],
      "id": "b592108a-5e2a-4d8b-9150-375041d64a35",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "mishaq.octans@gmail.com",
          "mode": "list",
          "cachedResultName": "mishaq.octans@gmail.com"
        },
        "start": "={{ $('Webhook').item.json.body.dateTime}}",
        "end": "={{ $('Webhook').item.json.body.dateTime}}",
        "additionalFields": {
          "description": "=Email: {{ $('Webhook').item.json.body.email }}",
          "summary": "={{ $('Webhook').item.json.body.name }} - Consultation"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        288,
        960
      ],
      "id": "8a7395df-119a-4336-b405-731c7bfd49a7",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6ssC697ciytKKhTf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{$now}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3152,
        496
      ],
      "id": "2cc4bd29-93a6-406b-b26d-29ef4ea70661",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Check-for-desired-day",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check for upcoming week1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check-for-desired-day",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Check-for-desired-day",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Check for upcoming week1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Check for upcoming week1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Check for upcoming week1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check-for-desired-day": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Get availability in a calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "If free",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If free": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c602031f-7a45-4cc4-ab7d-cde298446a2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9418f290a958a80ddb73fe28d914b5ec617da14549e927718fa371a62d268b4"
  },
  "id": "zoGamyKDFC9Yu7t2",
  "tags": []
}